.img-delmedio {
  filter: blur(6px);
  position: relative;
  border-radius: .625rem;
}

.compra-pasajes-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: .3125rem;
  box-shadow: 0 0 .125rem .0625rem rgba(0, 140, 186, 0.5);
}

.carga-sube {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.img-fondo {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  width: 100%;
}

.banner-viaje {
  display: block;
  padding: auto;
}

