* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --transition-speed: 600ms;
}

.form-control {
  margin-bottom: .3125rem;
}

h1 {
  text-decoration: underline;
}

.nav_pad {
  padding: 1rem;
}

.nav_header {
  background-color: #0090AF;
}

.nav_links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0rem 2%;
  clear: both;
}

.nav_links li {
  display: inline-block;
  padding: 0 1.25rem;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 800;
}

.nav_links li a::hover {
  background-color: #3593cb;
  border-radius: 0.20rem;
}

.nav_links button {
  padding: .5625rem 1.5625rem;
  height: 100%;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.nav_links button::hover {
  color: rgba(255, 255, 255, 0.8);
  border-radius: 0.20rem;
}

.nav_item {
  cursor: pointer;
  color:rgb(255, 255, 255);
  filter: grayscale(100%) opacity(0.6);
  transition: var(--transition-speed);
}

.nav_item:hover {
  filter: grayscale(0%) opacity(1);
  color: #003e79;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #0090AF;
}

.rol-span {
  font-style: italic;
  color: #BEC2C4;
}

.mainmenubtn {
  background-color: skyblue;
  color: white;
  cursor: pointer;
  padding: 1.25rem;
  margin-top: 1.25rem;
}

.img-navbar {
  max-width: 35%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}