<section class="nav_header">
  <nav class="nav_pad">
      <ul class="nav_links">
        <li class="nav_item"><%= t('meet_us') %></li>
        <li class="nav_item"><%= t('selling_points') %></li>
        <li class="nav_item img-navbar"><%= link_to image_tag("navbar_logo_talp.png", class:'img-navbar'), root_path %></li>
        <li class="nav_item"><%= t('unities') %></li>
        <li class="nav_item"><%= t('sube') %></li>
        <li class="nav_item"><%= t('about') %></li>
      </ul>
  </nav>
</section>