<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
  <title>Plat</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= favicon_link_tag 'Logo_de_talp_sa_circulo_32.png' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

</head>

<body>
  <%= render 'layouts/navbar' %>


 <section>
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
    <% end %>

    <% if flash[:error] %>
    <%= flash[:error] %>
    <% end %>
  </section>

  <%= yield %>
</body>

</html>
